.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & select {
    margin-left: 10px;
  }

  & label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 10px;
  color: white;
  background-color: #0078e7;
  cursor: pointer;
  border-radius: 8px;
}

.select {
  position: relative;
  display: flex;
  width: 125px;
  height: 25px;
  border-radius: 8px;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  background-color: #0078e7;
  transition: 0.25s all ease;
  pointer-events: none;
  color: white;
}

.filter > label:nth-child(3) > span {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .filter {
    gap: 10px;

    font-size: 12px;

    & button {
      font-size: 12px;
    }

    & select {
      font-size: 12px;
    }

    & option {
      font-size: 12px;
    }
  }

  .select {
    width: 100px;
  }

  .filter > label:nth-child(3) > span {
    margin-right: 0px;
  }
}

@media screen and (max-width: 640px) {
  .filter {
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(2, 1fr);

    & button {
      width: fit-content;
    }
  }
}
