.shownotivalerror {
  margin: 0;
  padding: 0;
  color: rgb(255, 79, 79);
  font-weight: 500 !important;
  font-size: small !important;
  border: 2px solid red;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .shownotivalerror {
    font-weight: 100 !important;
    font-size: 10px !important;
  }
}
