.fpage {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.contimg {
  width: 100%;
  height: 100%;
  background-image: url("../../../public/first_pokemon.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bfpage {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bfpage > img {
  margin-top: 50px;
  width: 700px;
}

.bfpage > button {
  margin-bottom: 100px;
  animation: bpage 0.4s linear infinite alternate;
  font-size: large;
}

@keyframes bpage {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@media (width < 768px) {
  .bfpage > img {
    width: calc(100vw - 50px);
  }
}
