.fpage {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.fpage > div {
  position: absolute;
  top: 0;
  bottom: 0;
}

.fpage > div > video {
  /* object-fit: contain; */
  width: 100%;
}

.bfpage {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bfpage > img {
  width: 700px;
}

.bfpage > button {
  margin-top: 100px;
  animation: bpage 0.4s linear infinite alternate;
}

@keyframes bpage {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

