header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  background-color: rgb(143, 182, 255);

  & img {
    width: 300px;
    margin: 10px auto;
  }
}

header > div:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

header > div:first-child > div:first-child,
header > div:first-child > div:nth-child(3) {
  flex-grow: 1;
  flex-basis: 0%;
}

header > div:first-child > div:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

/* .prueba {
  font-weight: 900;
  font-size: 8vw;
  color: #ffffff;
  background: url("/pokemon_titulo.webp");
  background-size: auto 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pokemon 5s linear infinite;
} */

/* @keyframes pokemon {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center 200%;
  }
} */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  header {
    & img {
      width: 200px;
    }
  }

  header > div:first-child > div:first-child,
  header > div:first-child > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & input {
      width: 150px;
      height: 10px;
      font-size: 12px;
    }

    & button {
      width: fit-content;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 640px) {
  header > div:first-child {
    display: grid;
    gap: 15px;
  }

  header > div:first-child > div:first-child {
    grid-row-start: 2;
    flex-direction: row;
  }

  header > div:first-child > div:nth-child(3) {
    flex-direction: row;
  }
}
