.pokemons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & img {
    width: 300px;
    margin: 0;
  }
}

.pokemons > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.searchh6 {
  font-size: large;
  margin: 0;
  padding: 0;
  animation: vibrate1 0.3s linear infinite both;
}

@keyframes vibrate1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.notfound {
  font-size: large;
  margin: 0;
  padding: 0;
  animation: notfound 1.5s ease-in-out infinite both;
}

@keyframes notfound {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 1024px) {
  .pokemons > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .pokemons > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .pokemons {
    font-size: 12px;

    & img {
      width: 200px;
    }

    & h6 {
      font-size: 12px;
    }
  }

  .pokemons > ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
