.form {
  background-color: rgb(143, 182, 255);
  border-radius: 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 30px;
  padding: 20px;
  font-size: medium;
  font-weight: 600;
}

.inputform {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputform > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.typesform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  & input {
    padding: auto;
    width: auto;
  }
}

.typesform > p {
  margin: 0;
  padding: 0;
}

.typesform > div {
  display: grid;
  grid-template: repeat(10, auto) / repeat(2, auto);
  column-gap: 30px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.typesform > div > label {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.typesform > div > label > input {
  outline: none;
  border: none;
}

.blocked {
  cursor: not-allowed;
  background-color: rgb(128, 128, 128);
}

.blocked:hover {
  background-image: linear-gradient(
    transparent,
    rgb(85, 85, 85) 40%,
    rgba(211, 211, 211, 0.911)
  );
}

.notivalerror {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14em;
  top: 75%;
  right: 0;
}
